/* page colors */

/**** General Styles *****/
/* page colors */
/*** Resposive ***/
* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

html {
  font-size: 16px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 12px;
  }
}

html body.cap {
  position: relative;
}

html body.cap::after {
  position: absolute;
  content: '';
  background-color: rgba(96, 99, 106, 0.5);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

html body .content {
  width: 90%;
  margin: auto;
}

/* Menu login dashboard styles */

/* Menu login styles */
/* page colors */
/*** Resposive ***/
.second-menu,
.second-dash {
  background-color: #f0f8ff;
  padding: 1.25rem 0rem;
  position: relative;
}

.second-menu nav,
.second-dash nav {
  display: flex;
  justify-content: flex-end;
}

.second-menu nav ul,
.second-dash nav ul {
  display: flex;
  flex-wrap: wrap;
  background-color: #5697d7;
  margin: 0;
  padding: 0;
  border-radius: 8px;
  padding: 0.8rem 0;
}

.second-menu nav ul li,
.second-dash nav ul li {
  list-style: none;
}

.second-menu nav ul li a,
.second-dash nav ul li a {
  border-right: 1px solid #ffffff;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  padding: 0 1rem;
  font-size: 0.875rem;
}

.second-menu nav ul li:last-child a,
.second-dash nav ul li:last-child a {
  border: 0;
}

.second-menu__modal,
.second-dash__modal {
  background-color: #343434;
  position: absolute;
  right: 0;
  margin-right: 5vw;
  display: none;
  z-index: 1;
}

.second-menu__modal.active,
.second-dash__modal.active {
  display: block;
}

@media (max-width: 768px) {
  .second-menu__modal,
  .second-dash__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 10%;
    overflow: auto;
  }
}

.second-menu__modal .close,
.second-dash__modal .close {
  font-size: 1.5rem;
  position: absolute;
  color: #ffffff;
  text-decoration: none;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.second-menu__modal p,
.second-dash__modal p {
  color: #ffffff;
  font-size: 1.5rem;
  padding: 1rem 2rem 0.5rem 2rem;
}

.second-menu__modal .second-menu__tab,
.second-dash__modal .second-menu__tab {
  display: flex;
  align-items: flex-start;
  background-color: #ffcb00;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 3rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .second-menu__modal .second-menu__tab,
  .second-dash__modal .second-menu__tab {
    height: 4rem;
  }
}

.second-menu__modal .second-menu__tab .second-menu__user,
.second-dash__modal .second-menu__tab .second-menu__user {
  border: 1px solid #60636a;
  border-top-left-radius: 10px;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-menu__modal .second-menu__tab .second-menu__user p,
.second-dash__modal .second-menu__tab .second-menu__user p {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.second-menu__modal .second-menu__tab .second-menu__pro,
.second-dash__modal .second-menu__tab .second-menu__pro {
  border: 1px solid #60636a;
  border-top-right-radius: 10px;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.second-menu__modal .second-menu__tab .second-menu__pro a,
.second-dash__modal .second-menu__tab .second-menu__pro a {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  background: url("../assets/img/user.png") no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

.second-menu__modal form,
.second-dash__modal form {
  margin: 0;
  padding-top: 2rem;
}

.second-menu__modal form div,
.second-dash__modal form div {
  padding: 0 2rem;
  padding-bottom: 2rem;
}

.second-menu__modal form div label,
.second-menu__modal form div input,
.second-dash__modal form div label,
.second-dash__modal form div input {
  width: 100%;
}

.second-menu__modal form div label,
.second-dash__modal form div label {
  padding: 0.5rem 0;
  display: block;
  color: #ffffff;
  position: relative;
}

.second-menu__modal form div label::after,
.second-dash__modal form div label::after {
  position: absolute;
  content: '*';
  color: #e3003a;
  font-size: 2rem;
  top: 0;
}

@media (max-width: 768px) {
  .second-menu__modal form div label::after,
  .second-dash__modal form div label::after {
    right: 0;
  }
}

.second-menu__modal form div input,
.second-dash__modal form div input {
  padding: .375rem .75rem;
  font-size: 1rem;
  background-color: #ffffff;
}

.second-menu__modal form .second-menu__button,
.second-dash__modal form .second-menu__button {
  padding: 0rem;
  margin-top: 2rem;
}

.second-menu__modal form .second-menu__button button,
.second-dash__modal form .second-menu__button button {
  font-size: 1.25rem;
  background-color: #ffcb00;
  width: 100%;
  padding: 0.8rem 0;
  border: 0;
  color: #ffffff;
}

/* Menu2 styles */
/* page colors */
/*** Resposive ***/
.nav-opt {
  background-color: #f6f6f6;
}

@media (max-width: 768px) {
  .nav-opt {
    display: none;
  }
}

.nav-opt__item {
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-opt__item .nav-opt__left .nav-opt__logo img {
  width: 100%;
  height: auto;
}

.nav-opt__item .nav-opt__right .nav-opt__menu ul {
  display: flex;
}

.nav-opt__item .nav-opt__right .nav-opt__menu ul li {
  list-style: none;
  padding-right: 1rem;
  margin-right: 1rem;
  position: relative;
  font-size: 0.875rem;
  font-weight: 400;
  cursor: pointer;
}

.nav-opt__item .nav-opt__right .nav-opt__menu ul li::after {
  position: absolute;
  content: '';
  width: 0.0625rem;
  height: 100%;
  background-color: #60636a;
  right: 0;
}

.nav-opt__item .nav-opt__right .nav-opt__menu ul li:last-child {
  margin: 0;
  padding: 0;
}

.nav-opt__item .nav-opt__right .nav-opt__menu ul li:last-child::after {
  display: none;
}

.nav-opt-mobile {
  display: none;
  z-index: 1;
  position: relative;
  height: calc(100vh - 4.6875rem);
  background-color: #ffffff;
}

.nav-opt-mobile.open {
  display: block;
}

.nav-opt-mobile__lengu {
  width: 100%;
}

.nav-opt-mobile__lengu .nav-opt-mobile__select {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0;
}

.nav-opt-mobile__lengu .nav-opt-mobile__select .nice-select {
  border: 0;
}

.nav-opt-mobile__search {
  width: 80%;
  margin: auto;
}

.nav-opt-mobile__search form {
  position: relative;
  margin: 0;
}

.nav-opt-mobile__search form input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #60636a;
  width: 100%;
}

.nav-opt-mobile__search form input::placeholder {
  color: #60636a;
  font-size: 0.75rem;
}

.nav-opt-mobile__search form::after {
  position: absolute;
  content: '';
  background: url("../assets/img/search_mobile.png");
  width: 0.9375rem;
  height: 0.9375rem;
  top: 40%;
  right: 0;
  transform: translate(-40%, -50%);
  background-size: cover;
}

.nav-opt-mobile__menu {
  width: 80%;
  margin: auto;
}

.nav-opt-mobile__menu .nav-opt-conte ul {
  padding: 0;
}

.nav-opt-mobile__menu .nav-opt-conte ul li {
  list-style: none;
  line-height: 2.5rem;
}

.nav-opt-mobile__menu .nav-opt-conte ul li a {
  text-decoration: none;
  color: #60636a;
  font-size: 0.875rem;
  font-weight: 600;
}

.nav-opt-mobile__menu .nav-opt-conte ul li.option .item {
  display: flex;
  flex-wrap: wrap;
}

.nav-opt-mobile__menu .nav-opt-conte ul li.option .item a {
  width: 65%;
}

.nav-opt-mobile__menu .nav-opt-conte ul li.option .item .arrow {
  width: 30%;
  position: relative;
}

.nav-opt-mobile__menu .nav-opt-conte ul li.option .item .arrow .nav-opt-arrow {
  position: absolute;
  border-bottom: 0.125rem solid #60636a;
  border-right: 0.125rem solid #60636a;
  height: 0.75rem;
  width: 0.75rem;
  top: 45%;
  right: 0;
  transform: rotate(45deg) translateX(-45%);
  transform-origin: 66% 66%;
  transition: all 0.15s ease-in-out;
}

.nav-opt-mobile__menu .nav-opt-conte ul li.option .item .arrow.open .nav-opt-arrow {
  top: 20%;
  transform: rotate(-135deg) translateX(-20%);
}

.nav-opt-mobile__menu .nav-opt-conte ul li.option .nav-opt-mobile__nost {
  display: none;
  width: 100%;
  background-color: #f6f6f6;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.nav-opt-mobile__menu .nav-opt-conte ul li.option .nav-opt-mobile__nost.open {
  display: block;
}

.nav-opt-mobile__menu .nav-opt-conte ul li.option .nav-opt-mobile__nost ul {
  width: 80%;
  margin: auto;
}

.nav-opt-mobile__menu .nav-opt-conte ul li.option .nav-opt-mobile__nost ul li {
  list-style: none;
  line-height: 2.5rem;
}

.nav-opt-mobile__menu .nav-opt-conte ul li.option .nav-opt-mobile__nost ul li a {
  text-decoration: none;
  color: #60636a;
  font-size: 0.875rem;
  font-weight: 600;
}

.nav-opt-mobile__menu .nav-opt-conte ul li.option .nav-opt-mobile__nost ul li .item.active {
  background-color: #008fd6;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding: 0 10vw;
}

.nav-opt-mobile__menu .nav-opt-conte ul li.option .nav-opt-mobile__nost ul li .item.active a {
  color: #ffffff;
}

.nav-opt-mobile__menu .nav-opt-conte ul li.option .nav-opt-mobile__nost ul li .item.active .nav-opt-arrow {
  border-bottom: 0.125rem solid #ffffff;
  border-right: 0.125rem solid #ffffff;
}

.nav-opt-mobile__menu .nav-opt-conte ul li.option .nav-opt-mobile__nost ul li .nav-opt-mobile__items {
  display: none;
}

.nav-opt-mobile__menu .nav-opt-conte ul li.option .nav-opt-mobile__nost ul li .nav-opt-mobile__items.open {
  display: block;
}

@charset "UTF-8";
/* Main menu styles */
/* page colors */
/*** Resposive ***/
header {
  background-color: #60636a;
}

header nav {
  width: 100%;
  height: 3.4375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

@media (max-width: 768px) {
  header nav {
    display: none;
  }
}

header nav .cont_left {
  width: 70%;
}

header nav .cont_left ul {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0;
}

header nav .cont_left ul li {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 0.8125rem;
  margin-right: 2.5rem;
  color: #ffffff;
  position: relative;
  padding: 0 2rem 0 1rem;
  height: 100%;
  cursor: pointer;
}

header nav .cont_left ul li::after {
  position: absolute;
  content: '';
  border-bottom: 0.125rem solid #ffffff;
  border-right: 0.125rem solid #ffffff;
  height: 0.5rem;
  width: 0.5rem;
  transform: rotate(45deg) translateY(-50%);
  right: 1.1rem;
}

header nav .cont_left ul li.expor {
  background-color: #e3003a;
}

header nav .cont_left ul li.inver {
  background-color: #008fd6;
}

header nav .cont_left ul li.turis {
  background-color: #ffcb00;
}

header nav .cont_left ul li.marca {
  background-color: #9E1E71;
}

header nav .cont_right {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav .cont_right__search {
  width: 50%;
  display: flex;
}

header nav .cont_right__search form {
  position: relative;
  margin: 0;
}

header nav .cont_right__search form input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ffffff;
}

header nav .cont_right__search form input::placeholder {
  color: #ffffff;
  font-size: 0.75rem;
}

header nav .cont_right__search form::after {
  position: absolute;
  content: '';
  background: url("../assets/img/search.png");
  width: 0.9375rem;
  height: 0.9375rem;
  top: 40%;
  right: 0;
  transform: translate(-40%, -50%);
  background-size: contain;
}

header nav .cont_right__modal {
  width: 30%;
}

header nav .cont_right__lengu {
  width: 20%;
}

header nav .cont_right__lengu .nice-select {
  background: transparent;
  border: 0;
}

header nav .cont_right__lengu .nice-select span {
  color: #ffffff;
}

header nav .cont_right__lengu .nice-select:after {
  border-bottom: 0.125rem solid #ffffff;
  border-right: 0.125rem solid #ffffff;
  height: 0.5rem;
  width: 0.5rem;
  top: 43%;
}

header .nav-option nav.second {
  display: none;
  position: absolute;
}

header .nav-option nav.second.view {
  display: flex;
}

header .nav-option nav.second.expor {
  background-color: #e3003a;
}

header .nav-option nav.second.inver {
  background-color: #008fd6;
}

header .nav-option nav.second.turis {
  background-color: #ffcb00;
}

header .nav-option nav.second.turis li {
  color: #60636a;
}

header .nav-option nav.second.marca {
  background-color: #9E1E71;
}

header .nav-option nav.second ul {
  display: flex;
  padding: 0;
}

header .nav-option nav.second ul li {
  list-style: none;
  font-size: 0.8125rem;
  margin-right: 0rem;
  color: #ffffff;
  padding-right: 1rem;
  text-transform: uppercase;
  padding: 0 1rem;
  cursor: pointer;
}

header .nav-option nav.second ul li:hover {
  text-decoration: underline;
}

header .header-mobile {
  display: none;
  height: 4.6875rem;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

@media (max-width: 768px) {
  header .header-mobile {
    display: flex;
  }
}

header .header-mobile .img {
  width: 50%;
}

@media (min-width: 768px) and (max-width: 1024px) {
  header .header-mobile .img {
    width: 30%;
  }
}

header .header-mobile .img img {
  width: 100%;
  height: auto;
}

header .header-mobile__hamburger div {
  width: 2.1875rem;
  height: 1.4375rem;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

header .header-mobile__hamburger div span {
  display: block;
  position: absolute;
  height: 0.1875rem;
  width: 100%;
  background: #ffffff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

header .header-mobile__hamburger div span:nth-child(1) {
  top: 0;
}

header .header-mobile__hamburger div span:nth-child(2), header .header-mobile__hamburger div span:nth-child(3) {
  top: 0.625rem;
}

header .header-mobile__hamburger div span:nth-child(4) {
  bottom: 0;
}

header .header-mobile__hamburger div.open span:nth-child(1) {
  top: 1.125rem;
  width: 0%;
  left: 50%;
}

header .header-mobile__hamburger div.open span:nth-child(2) {
  transform: rotate(45deg);
}

header .header-mobile__hamburger div.open span:nth-child(3) {
  transform: rotate(-45deg);
}

header .header-mobile__hamburger div.open span:nth-child(4) {
  top: 1.125rem;
  width: 0%;
  left: 50%;
}

.mobile-button {
  position: absolute;
  left: 0;
  top: calc(5% + 4.6875rem);
  display: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  box-shadow: -2px 2px 10px 0px rgba(0, 0, 0, 0.75);
  margin: 0 2rem;
  z-index: 1;
}

@media (max-width: 768px) {
  .mobile-button {
    display: flex;
  }
}

.mobile-button::after {
  position: absolute;
  content: '•••';
  color: #008fd6;
  font-size: 1.7rem;
}

.mobile-button.close::after {
  position: absolute;
  content: 'X';
  color: #008fd6;
  font-size: 1.4rem;
}

.mobile {
  top: calc(7% + 4.6875rem + 2.5rem);
  position: absolute;
  right: 0;
  width: 100%;
  background-color: #ffffff;
  display: none;
  z-index: 1;
}

@media (max-width: 768px) {
  .mobile {
    display: block;
  }
}

.mobile__content {
  display: none;
}

.mobile__content.open {
  display: block;
  z-index: 1;
}

.mobile__content .mobile__head {
  padding: 1rem 0;
  background-color: #008fd6;
}

.mobile__content .mobile__menu ul {
  padding: 0 4rem;
}

.mobile__content .mobile__menu ul li {
  font-size: 0.8125rem;
  font-weight: bold;
  list-style: none;
  margin-bottom: 0.5rem;
  position: relative;
}

.mobile__content .mobile__menu ul li.open::after {
  transform: rotate(-135deg);
}

.mobile__content .mobile__menu ul li::after {
  position: absolute;
  content: '';
  border-bottom: 0.125rem solid #60636a;
  border-right: 0.125rem solid #60636a;
  height: 0.5rem;
  width: 0.5rem;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  transform-origin: 66% 66%;
  transition: all 0.15s ease-in-out;
}

.mobile__content .mobile__menu ul li .mobile__option {
  display: none;
  padding: 1rem 0;
}

.mobile__content .mobile__menu ul li .mobile__option li {
  font-weight: normal;
}

.mobile__content .mobile__menu ul li .mobile__option li::after {
  display: none;
}

.mobile__content .mobile__menu ul li .mobile__option.open {
  display: block;
}

/*** Resposive ***/
