
<!-- Secondary Menu-->
<div class="second-menu">
  <nav class="content">
    <ul>
      <li><a href="">Registrarse</a></li>
      <li class="second-menu__login"> <a>Iniciar sesión</a></li>
    </ul>
  </nav>
  <div class="second-menu__modal">
    <div class="second-menu__conte"><span class="close">X</span>
      <p class="second-menu__title">Iniciar sesión</p>
      <div class="second-menu__tab">
        <div class="second-menu__user">
          <p>Usuarios</p>
        </div>
        <div class="second-menu__pro"><a href="www.google.com"></a></div>
      </div>
      <div class="second-menu__form">
        <form>
          <div class="second-menu__name">
            <label for="">Email o NIT (Sin dígito de verificación)</label>
            <input type="text"/>
          </div>
          <div class="second-menu__pass">
            <label for="">Contraseña</label>
            <input type="text"/>
          </div>
          <div class="second-menu__button">
            <button>Iniciar sesión</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>