
<!-- Menu1 -->
<header>
  <nav class="content">
    <div class="cont_left">
      <ul>
        <li>EXPORTACIONES</li>
        <li>INVERSIÓN</li>
        <li>TURISMO</li>
        <li>MARCA PAÍS</li>
      </ul>
    </div>
    <div class="cont_right">
      <div class="cont_right__search">
        <form>
          <input type="text" id="search" placeholder="Buscar ...."/>
        </form>
      </div>
      <div class="cont_right__modal"><a><img src="assets/img/msg.png" alt="messeger"/></a></div>
      <div class="cont_right__lengu">
        <select>
          <option>ESP</option>
          <option>ENG</option>
        </select>
      </div>
    </div>
  </nav>
  <div class="nav-option">
    <nav class="second expor">
      <ul class="content">
        <li><a>Colombia Trade</a></li>
        <li><a>Ruta exportadora</a></li>
        <li><a>Oportunidades en Tiempo real</a></li>
        <li><a>Catálogo de la oferta exportable</a></li>
        <li><a>Colombia Exporta Servicios</a></li>
      </ul>
    </nav>
    <nav class="second inver">
      <ul class="content">
        <li><a>Invierta en Colombia</a></li>
        <li><a>Mapa de oportunidades</a></li>
        <li><a>Guía legal</a></li>
        <li><a>Directorio legal</a></li>
      </ul>
    </nav>
    <nav class="second turis">
      <ul class="content">
        <li><a>Vacaciones</a></li>
        <li><a>Reuniones</a></li>
        <li><a>Empresarios</a></li>
        <li><a>Siente el ritmo</a></li>
      </ul>
    </nav>
    <nav class="second marca">
      <ul class="content">
        <li><a>Colombia.co</a></li>
        <li><a>Actualidad</a></li>
        <li><a>Visita Colombia</a></li>
        <li><a>Marca Colombia</a></li>
      </ul>
    </nav>
  </div>
  <div class="header-mobile">
    <div class="img"><a><img src="assets/img/logo.png" alt="logo"/></a></div>
    <div class="header-mobile__hamburger">
      <div><span></span><span></span><span></span><span></span></div>
    </div>
  </div>
</header>
<div class="mobile-button">
  <div class="img"></div>
</div>
<nav class="mobile">
  <div class="mobile__content">
    <div class="mobile__head"></div>
    <div class="mobile__menu">
      <ul>
        <li>EXPORTACIONES
          <ul class="mobile__option">
            <li><a>Colombia Trade</a></li>
            <li><a>Ruta exportadora</a></li>
            <li><a>Oportunidades en Tiempo real</a></li>
            <li><a>Catálogo de la oferta exportable</a></li>
            <li><a>Colombia Exporta Servicios</a></li>
          </ul>
        </li>
        <li>INVERSIÓN
          <ul class="mobile__option">
            <li><a>Invierta en Colombia</a></li>
            <li><a>Mapa de oportunidades</a></li>
            <li><a>Guía legal</a></li>
            <li><a>Directorio legal</a></li>
          </ul>
        </li>
        <li>TURISMO
          <ul class="mobile__option">
            <li><a>Vacaciones</a></li>
            <li><a>Reuniones</a></li>
            <li><a>Empresarios</a></li>
            <li><a>Siente el ritmo</a></li>
          </ul>
        </li>
        <li>MARCA PAÍS
          <ul class="mobile__option">
            <li><a>Colombia.co</a></li>
            <li><a>Actualidad</a></li>
            <li><a>Visita Colombia</a></li>
            <li><a>Marca Colombia</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>