
<!--Menu2 -->
<div class="nav-opt">
  <div class="content nav-opt__item">
    <div class="nav-opt__left">
      <div class="nav-opt__logo"><img src="assets/img/logo_proco.png" alt="logo"/></div>
    </div>
    <div class="nav-opt__right">
      <div class="nav-opt__menu">
        <ul>
          <li>MEMORIAS</li>
          <li>EVENTOS</li>
          <li>PUBLICACIONES</li>
          <li>NOSOTROS</li>
          <li>SALA DE PRENSA</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="nav-opt-mobile">
  <div class="nav-opt-mobile__lengu">
    <div class="nav-opt-mobile__select">
      <select>
        <option>ESP</option>
        <option>ENG</option>
      </select>
    </div>
  </div>
  <div class="nav-opt-mobile__search">
    <form>
      <input type="text" id="search" placeholder="Buscar ...."/>
    </form>
  </div>
  <div class="nav-opt-mobile__menu">
    <div class="nav-opt-conte">
      <ul>
        <li> <a href="">MEMORIAS</a></li>
        <li> <a href="">EVENTOS</a></li>
        <li> <a href="">PUBLICACIONES</a></li>
        <li class="option">
          <div class="item"> <a href="">NOSOTROS</a>
            <div class="arrow nav-opt-content">
              <div class="nav-opt-arrow"></div>
            </div>
          </div>
          <div class="nav-opt-mobile__nost">
            <ul>
              <li> <a href="">CONOZCA A PROCOLOMBIA</a></li>
              <li>
                <div class="item"><a href="">RED DE OFICINAS </a>
                  <div class="arrow nav-opt-items">
                    <div class="nav-opt-arrow"></div>
                  </div>
                </div>
                <div class="nav-opt-mobile__items">
                  <ul>
                    <li> </li><a href="">NORTEAMÉRICA</a>
                    <li> </li><a href="">NORTEAMÉRICA</a>
                    <li> </li><a href="">NORTEAMÉRICA</a>
                  </ul>
                </div>
              </li>
              <li> <a href="">¿QUÉ ES PROCOLOMBIA?</a></li>
            </ul>
          </div>
        </li>
        <li> <a href="">SALA DE PRENSA</a></li>
      </ul>
    </div>
  </div>
</div>